<%- include('partials/header',{title}); %>

<h1 class="text-4xl dark:text-white py-8"><%=article.title%></h1>
<p class="dark:text-white text-2xl py-4"><%=article.description%></p>
<p class="dark:text-white text-xl"><%=article.content%></p>

<%- include('partials/footer'); %>