<%- include('partials/header',{title}); %>

<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
  <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
    <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Projects</h2>
    <p class="font-light text-red-500 sm:text-xl dark:text-gray-400">Please be aware that the database is reset daily, so any information submitted will not be retained on this demonstration site.</p>
  </div>
  <% if (projects.length > 0) { %>
  <div class="grid gap-8 lg:grid-cols-3">
    <% projects.forEach((project) => { %>
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg" src="<%= project.image %>" alt="" />
      </a>
      <div class="p-5">
        <a href="/projects/<%= project.id %>">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= project.projectName %></h5>
        </a>
        <span class="font-medium dark:text-white">
          By: <%= project.username %>
        </span>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= project.description %></p>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= project.content.slice(0, 120) %> ...</p>
        <a href="/projects/<%= project.id %>" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Read more
          <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
    <% }); %>
  </div>
  <% } %>
</div>


<%- include('partials/footer'); %>