<%- include('partials/header',{title}); %>

<h1 class="text-4xl dark:text-white py-8"><%=project.title%></h1>
<img src="<%=project.image%>" />
<p class="dark:text-white text-2xl py-4"><%=project.description%></p>
<p class="dark:text-white text-xl"><%=project.content%></p>

<%- include('partials/footer'); %>